* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar-container,
.bar-container-excl {
  color: #b0b4bc;
}

.bar-container {
  background-color: rgba(0, 0, 0, 0);
}

.bar-container-excl {
  background-color: rgba(0, 0, 0, 0.2);
}

.workspaces {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
