encryption = "age"

[age]
  identity = "~/.config/chezmoi/key.txt"
  recipient = "age1y0hxtlyxtedsguc5shn4e5svyxvhz7jyrm0ag36d7fnwp2w4xgjqxfjmy5"

[edit]
    hardlink = false

# vim: set filetype=toml:
