$bg-color: #8C1EFF;
$bg-color-r: 140;
$bg-color-g: 30;
$bg-color-b: 255;
$bg-color-2: #F222FF;
$bg-color-2-r: 242;
$bg-color-2-g: 34;
$bg-color-2-b: 255;

$bg-opacity: 0.2;

$border-color: #ffd319;
$border-color-r: 255;
$border-color-g: 211;
$border-color-b: 25;
$border-color-2: #ff901f;
$border-color-2-r: 255;
$border-color-2-g: 144;
$border-color-2-b: 31;
