// https://www.color-hex.com/color-palette/57266
$bg-color: #8C1EFF;
$bg-color-r: 140;
$bg-color-g: 30;
$bg-color-b: 255;
$bg-color-2: #F222FF;
$bg-color-2-r: 242;
$bg-color-2-g: 34;
$bg-color-2-b: 255;

$bg-opacity: 0.2;

$border-color: #FFD319;
$border-color-r: 255;
$border-color-g: 211;
$border-color-b: 25;
$border-color-2: #FF901F;
$border-color-2-r: 255;
$border-color-2-g: 144;
$border-color-2-b: 31;

$extra-color: #FF2975;
$extra-color-r: 255;
$extra-color-g: 41;
$extra-color-b: 117;
