@use '../_variables.scss' as *;

@use '../widgets/workspace/_workspace.widget.scss';

.powermenu_toggle_workspace {
  box-shadow: unset;
}

.powermenu-top-layout-box,
.powermenu-bottom-layout-box {
  padding: 1rem;
  background: rgba($bg-color-r, $bg-color-g, $bg-color-b, $bg-opacity);
  border: 2px solid $bg-color-2;
  border-radius: 15px 15px;
  box-shadow: 4px 4px rgba($border-color-r, $border-color-g, $border-color-b);
}

.powermenu-top-layout-box {
  margin-top: 8px;
}
