@use '../../_variables.scss' as *;

.clock-widget {
  .sub-container {
    font-size: 1rem;
    font-weight: 700;
    color: $border-color;
    margin: 0 5px;
    text-shadow: 0 0 3px $border-color;
    background: $bg-color;
    border: 2px solid $border-color;
    box-shadow: 0 0 4px 1px $border-color-2;
    border-radius: 10px;
    padding: 0 5px 0 5px;
  }

  .time-container .time-item,
  .date-container .date-item {
    letter-spacing: 1px;
  }

}
