{{- $defaultWallpaper :=  "wallpaper4.jpg" -}}
preload = ~/.config/hypr/wallpapers/wallpaper1.jpg
preload = ~/.config/hypr/wallpapers/wallpaper2.jpg
preload = ~/.config/hypr/wallpapers/wallpaper3.jpg
preload = ~/.config/hypr/wallpapers/wallpaper4.jpg
preload = ~/.config/hypr/wallpapers/wallpaper5.jpg
preload = ~/.config/hypr/wallpapers/wallpaper6.jpg
preload = ~/.config/hypr/wallpapers/wallpaper7.jpg

#set the default wallpaper(s) seen on initial workspace(s) --depending on the number of monitors used
wallpaper = ,~/.config/hypr/wallpapers/{{ $defaultWallpaper }}
