[Desktop Entry]
Name=Spotify Player [TUI]
Icon=/home/xsanna/.local/share/applications/icons/logo-spotify-icon-pink.png
Comment=TUI Spotify player
Terminal=false
Exec=kitty spotify_player
Type=Application
Categories=System;FileTools;FileManager;ConsoleOnly
Keywords=Spotify;Manager;Explorer;Browser;Launcher
