#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec={{ .chezmoi.homeDir }}/.local/appimage/Aseprite.AppImage
Name=Aseprite
Icon={{ .chezmoi.homeDir }}/.local/appimage/icons/Aseprite.svg
Terminal=false
GenericName=Aseprite Pixelart Editor
Categories=Utility;
Keywords=pixelart;
Comment=Edit pixelart
