@use '../../_variables.scss' as *;

.workspaces-widget {
  .workspace-item {
    margin: 0 5px;

    .key-button {
      background-color: $bg-color;
      border: 2px solid $border-color;
      box-shadow: 0 0 4px 1px $border-color-2;
      border-radius: 10px;
      color: white;
      font-weight: 700;
      min-width: 30px;
      min-height: 30px;
      padding: 5px 10px;
      text-shadow: 0 0 3px #fff;

      &.active {
        background-color: $bg-color-2;
        border-color: $border-color-2;
        box-shadow: 0 0 4px 1px $border-color;
      }
    }

    .workspace-clients {
      border-radius: 5px;
      padding: 0px 5px 0px 2px;

      .client {
        margin: 0 5px 0 10px;
        font-size: 1.9rem;
        color: $bg-color;
        text-shadow: 0 0 3px $bg-color;

        &.active {
          color: $bg-color-2;
          text-shadow: 0 0 3px $bg-color-2;
        }
      }
    }

    &.has-single-client,
    &.has-clients {
      margin: 0 10px;

      .key-button {
        margin-right: 5px;
      }

      .workspace-clients {
        background-color: #fff;
        border: 2px solid $border-color;
        box-shadow: 0 0 4px 1px $border-color-2;
      }
    }
  }
}
